.supplierItem:hover {
    background-color: #DC9023;
    cursor: pointer;
}

.supplierItem { 
    color: blue;
    text-decoration: underline;
    display: inline-block
}

.supplier-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-supplier-box {
    padding-bottom: .5rem
}