.supplier-main {
    padding: 0rem 0rem 0rem 5.5rem;
}

h1 {
    padding: .5rem
}

.supplier-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    padding-left: 5.5rem;
    margin: auto;
}

.itemCard p, h3, h4 {
    padding: .1rem;
}