/* .stockContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.itemCard {
    margin: .5rem;
    padding: .5rem;
}

.itemCard:hover {
    background-color: #DC9023;
}

.listItem:hover {
    background-color: #DC9023;
}

.listItem { 
    padding: .25rem;
} */